<table class="table table-striped">
<thead class="thead-dark">
  <tr>
    <th>#</th>
    <th>Codigo Air</th>
    <th>Modelo Avião</th>
    <th>Qtd Passageiros</th>
    <th>Data Cadastro</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor='let item of lstAirplane'>
    <td>{{item.idAviao}}</td>
    <td>{{item.codigoAviao}}</td>
    <td>{{item.modeloAviao}}</td>
    <td>{{item.qtdPassageiros}}</td>
    <td>{{item.dataCriacao | DataFornat}}</td>
    <td>
      <button class="btn btn-warning btn-sm" (click)="alterAir(item.idAviao)" >
        <i class="fa fa-edit"></i>
      </button>
      <button class="btn btn-danger btn-sm" (click)="deleteAir(item.idAviao)" >
          <i class="fa fa-times-circle"></i>
        </button>
    </td>
  </tr>
</tbody>
<tfoot></tfoot>
</table>